* {
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Poppings', sans-serif;
}

body{

background-image: url(background.jpg);
background-attachment: fixed;
background-size: 100% 100%;
}



.column {
    float:left;
    width: 33.33%;
    padding: 5px;
    transition: transform 0.5s;

}
.column:hover {
    transform: translate(-10px);
}
.row::after {
    content: "";
    display: table;
    clear: both;
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 150px;
}

    .nav-links {
        flex: 1;
        text-align: right;
    }
    .nav-links ul li{
        list-style: none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
    }
    .nav-links ul li a{
        color: rgb(27, 27, 27);
        text-decoration: none;
        font-size: 15px;
        font-weight: bolder;
        text-transform: uppercase;
    }
    .nav-links ul li ul.dropdown li {
        display:block;
        content: '';
        width: 170%;
        height: 50px;
        background: none;
        display: block;
        margin: auto; 
        text-align: center;
    }
    .nav-links ul li ul.dropdown {
        width: 100%;
        background: none;
        position: absolute;
        z-index: 999;
        display: none;
    }
    .nav-links ul li a:hover {
        background: none;
    }
    .nav-links ul li:hover ul.dropdown {
        display: block;
    }
h1{
    color: rgb(20, 20, 20);
    text-align: center;
    width: 100%;
    
}
p {
    color: rgb(20, 20, 20);
    text-align: center;
    width: 100%;
    margin: 5px 0 40px;
    font-size: smaller;
}
.column h3 {
    color: #fff;
    margin-top: 15px;
    margin-bottom: 16px;
    text-align: left;
    font-size: 16px;
}
.column p {
    color: #fff;
    padding: 0;
    font-size: smaller;
    text-align: justify;
    text-justify: inter-word;
}
h2 {
    color: #ffffff;
    text-align: center;
    font-size: 25px;
}
.contai-ner {
    display: flex;
    align-items: center;
    justify-content: left;

}
.title {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
.title::before {
    content: "";
    height: 5px;
    background-color:#ffe100;
    display: flex;
}
.btn {
    width: 50%;
    height: 40px;
    font-size: 13px;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    outline: none;
    transition: 0.3s;
    font-weight: bolder;
    border-radius: 30px;
}
.btnstyl {
    background-color: #01370f;
    color: #fff;
}
.btnstyl:hover {
    background-color: #01280b;
}


.container{
	max-width: 1170px;
	margin:auto;
    background-color: #14141569;
    border-radius: 20px;
    
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #09090969;
    background: fixed;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0;
}
.footer-col h4{
	font-size: 18px;
	color: #fff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: bold;
	position: relative;

}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color:#8f8f8fad;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #141415;
	background-color: #151515;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}